@import "landing";
@import "album";
@import "collection";
@import "player_bar";
@import "profile";
@import "buttons";

// mixins
@mixin radial-gradient($inner_color, $outer_color) {
  background: -webkit-radial-gradient($inner_color, $outer_color);
  background: radial-gradient($inner_color, $outer_color);
}

html {
    height: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  @include radial-gradient(#2b1339, #380c77);
  padding-bottom: 150px;

  &.landing {
    background: #5B5579;
    padding-bottom: 0;

    .navbar {
      margin-bottom: 0;
    }
  }
}

.player-header-nav {
  background-color: rgba(123, 70, 163, .9);
}